<ion-header>
  <ion-toolbar>
    <ion-title>libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="libros">
        <ion-icon name="book"></ion-icon>
        <ion-label>Libros</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="auth">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Auth</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="reservar">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Reservar</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
